spring:
  application:
    name: e-commerce
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:mem:ecommerce
    username: sa
    password:

  sql:
    init:
      mode: always
      data-locations: classpath:products.sql

  h2:
    console:
      enabled: true
      path: /h2-console

  jpq:
    defer-datasource-initialization: true